<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="jsonFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Unique file path for each service. Using user home dir -->
        <file>/app/loans/logs/loans-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/app/loans/logs/loans-service-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>Asia/Dhaka</timeZone>
                </timestamp>
                <message/>
                <loggerName/>
                <threadName/>
                <logLevel/>
                <callerData/>
                <stackTrace/>
                <mdc/>
                <pattern>
                    <pattern>
                        {
                        "service": "loans-service", <!-- Unique identifier -->
                        "environment": "local"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="jsonFile"/>
    </root>
</configuration>